{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ entry.name }}{% endblock %}

{% block metatags %}
{% endblock %}

{% block content %}
    <h1>{{ entry.name }}</h1>

    <div class="ui stackable grid">
        <div class="sixteen wide column">
            {% if entry.description | length %}
                {{ entry.description | raw }}
            {% else %}
                <p>
                    {{ 'ecolos_sylius_glossary_plugin.no_entry_description' | trans }}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
